<div class="row">
    <div class="card">
        <div class="card-content">
            <h3><a class="orange-text" href="{{SITEURL}}/{{article.url}}">{{article.title}}</a></h3>
            <div>{{article.summary}}</div>
        </div>
        <div class="card-action">
            <a href="{{SITEURL}}/{{article.url}}">Lesen</a>
            <span class="right">
                {% for tag in article.tags %}
                <a href="{{SITEURL}}/{{tag.url}}"><i class="material-icons tiny">tag</i>{{tag}}</a>
            {% endfor %}
            </span>
        </div>
    </div>
</div>
