{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{category}}{% endblock %}

{% block parallaxheader %}
<div class="section no-pad-bot">
    <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Bereich: {{ category }}</h1>
<!--        <div class="row center">-->
<!--            <h5 class="header col s12 teal-text text-lighten-5">... auf meiner Homepage</h5>-->
<!--        </div>-->
    </div>
</div>
<div class="parallax"><img src="/images/airport2.jpg" alt="Unsplashed background img 1"></div>
{% endblock %}

{% block content %}
<h3>Die letzen Artikel im Bereich {{ category }}:</h3>
{% for article in articles_page.object_list %}
{% include "article_detail.html" %}
{% endfor %}
{% include "pagination.html" %}
{% endblock %}
