{% extends "base.html" %}
{% block title %}{{ SITENAME }} - Bereich: {{category}}{% endblock %}

{% block parallaxheader %}
<div class="section no-pad-bot">
    <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><i class="material-icons medium">list</i> {{ category }}</h1>
<!--        <div class="row center">-->
<!--            <h5 class="header col s12 teal-text text-lighten-5">... auf meiner Homepage</h5>-->
<!--        </div>-->
    </div>
</div>
<div class="parallax"><img src="/static/images/airport2.jpg" alt="Unsplashed background img"></div>
{% endblock %}

{% block content %}
{%if category == "Playground" %}
    <h3>Playground</h3>
    <p>Der Playground ist zum Ausprobieren der Jinja Template Engine da.</p>
{% else %}
    <h3>Die letzen Artikel im Bereich "{{ category }}":</h3>
{% endif %}
</br>
{% for article in articles_page.object_list %}
{% include "article_detail.html" %}
{% endfor %}
{% include "pagination.html" %}
{% endblock %}
