{% extends "base.html" %}

{% block headertitle %}
<!--<h1 class="header center teal-text text-darken-3">Willkommen...</h1>-->
<img src="/static/images/aloha.png" width="50%">
{% endblock %}

{% block content %}

<div class="row">
<!--    <div class="col s12 m12 l2">-->
<!--        <img src="/images/aloha.jpg" width="95%">-->
<!--    </div>-->
<!--    <div class="col s12 m12 l10">-->
        <h4>...auf meiner Homepage.</h4>
        <p>Dies ist ein ungeordnetes Sammelsurium aus Dingen, die mich interessieren.
            Nichts davon könnte irgendeine Relevanz für Dich haben.
        </p>
        <h4>Die neuesten Artikel:</h4>
<!--    </div>-->
</div>
<br>

{% for article in articles_page.object_list %}
{% include "article_detail.html" %}
{% endfor %}
{% include "pagination.html" %}

{% endblock %}
