{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          
        {% if articles_page.number == 1 %}
            {% include 'parts/greeter.html' %}
        {% endif %}
          
        {% for article in articles_page.object_list %}
            <h2>{{ article.title }}</h2>
        {% endfor %}
        
                
        {% if articles_page.has_other_pages() %}
          {% include 'parts/pagination.html' %}
        {% endif %}

        </div>
      </div>

    </div>
  </div>

{% endblock content %}
